
body {
    height: 1000px;
    font-family: 'Poiret One';
}
.bottom-bar{
position: fixed;
bottom: 0px;
width: 100%;
margin-bottom: 0px;

}

h1 {
    font-family: Poiret One;
    font-size:20px;
    margin-top:40px;
}



li {
    
}
