{% load staticfiles %}
<html lang="en" lang="ru">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!--Шрифты-->
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Exo+2:200,300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--CSS-->
    <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet" type="text/css">
    <link href="{% static 'main.css'%}" rel="stylesheet" type="text/css">

    <!--jQuery-->

  </head>
    <body>
   
        <div class="row">
            
            <nav class="navbar navbar-default navbar-static-top" role="navigation" >
              
                <h1 style=" font-family: 'Exo 2';"> Коррекция параметров рекламного сервера</h1>
            
            </nav>
            
        
            {% block page %}
            {% endblock page %}
 
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="navbar-header">
                    <a class="navbar-brand"><span>by Каглинская Мария</span></a>
                </div>

                <ul class="nav navbar-right navbar-nav navig">
                    <li>
                        <a href="/special/">Инструкция по применению</a>
                    </li>
                    <li>
                        <a href="/catalog/search/category=travel&country=&activity=&min_cost=&max_cost=">Еще ченить</a>
                    </li>  
                </ul>
            </nav>
       </div>
          
            
    </body>


  </html>